{% extends "base_template.html" %}

{% block title %}Message Log{% endblock %}

{% block page_stylesheets %}
<link type="text/css" rel="stylesheet"
      href="{% url djangosms.ui.base.views.static %}/stylesheets/messages.css" />
{% endblock %}

{% block content %}
<h1>
  <a href="{% url djangosms.ui.messages.views.index %}">Messages</a>{% if search_string %}
  / <a href="">Search for
      <span class="highlight">{{ search_string }}</span></a>{% endif %}
</h1>

<p class="help">
  Review recent messages, reply to selected users or send a new message to the system.
</p>

  <form class="inline" method="get" id="search">
    <p>
      <label for="q">Query:</label>
      <input name="q" type="text" value="{{ search_string }}" />
      <input type="submit" value="Search" />
    </p>
  </form>
  <form method="post">
      {% csrf_token %}
    <p class="inline">
      <label for="text">Text:</label>
   	  <input size="40" name="text" type="text" value="{{ text }}" />
      <input type="submit" name="reply" value="Reply to selected" />
      <input type="submit" name="send" value="Send" />
    </p>

<table id="message-log" class="sortable">
  <thead>
	{% for column, display in columns %}
	{% ifequal column sort_column %}
	<th class="sorted {% if sort_descending %}descending{% else %}ascending{% endif %}">
	  <a href="?q={{ search_string }}&sort_descending={% if sort_descending %}false{% else %}true{% endif %}&sort_column={{ column }}" title="Sort by {{ display }}{% if sort_descending %} (asc){% endif %}">
		{{ display }}

	</th>
	{% else %}
	<th>
      <a href="?q={{ search_string }}&sort_column={{ column }}"
         title="Sort by {{ display }}">{{ display }}</a></th>
	{% endifequal %}
	{% endfor%}
  </thead>
  
  <tbody>
	{% for message, reporter in entries %}
	<tr>
	  <td>{{ message.time|date:"d-M-Y H:i:s" }}</td>
	  <td style="white-space:nowrap">
        {% if reporter %}
        {{ reporter|title }}<br/>
        {% endif %}
        <input type="checkbox" name="messages" value="{{ message.pk }}"/>
        <label for="messages">{{ message.connection }}</label>
      </td>
	  <td class="message-text">
        {% if message.requests.count %}
          <ul>
          {% for request in message.requests.all %}
          		<li class="{% if request.erroneous %} erroneous{% endif %}">
            		{% if request.responses.count %}
            			{% if request.text %}
							<tt class="message-text">{{ request.text }}</tt>
           				{% else %}
		            		<tt class="message-text route-{{ request.route|slugify }}">{{ message.text }}</tt>
	            		{% endif %}
            		{% else %}
		            	<tt class="message-text">{{ request.text }}</tt>
            		{% endif %}
            		{% if request.route %}
            			<span class="request-kind route-{{ request.route|slugify }}">
	              			({{ request.route }})
            			</span>
            		{% endif %}
            		<ul>
              		{% for response in request.responses.all %}
              			<li class="response {% if response.is_reply %}reply{% endif %} {% if request.route.slug == 'web' %}web-response{% endif %}">
			                {{ response.text }}
              			</li>
              		{% endfor %}
		            </ul>
          		</li>
          	{% endfor %}
        	</ul>
        {% else %}
        	<tt class="message-text">{{ message.text }}</tt>
        {% endif %}
      </td>
	</tr>
	{% endfor %}
  </tbody>
</table>
</form>

{% load pagination %}
{% pagination paginator req %}

{% endblock %}
