table.sortable th {
  padding: 0.5em;
}

table.sortable th a {
  display: block;
  color: #888;
  border-right: 1px solid #ddd;
  border-left: 1px solid #fff;
}

table.sortable thead th:first-child a { border-left: none; }
table.sortable thead th:last-child  a { border-right: none; }

table.sortable col.sorted {
  background-color: #f8f8ff;
}

table.sortable thead th:hover   { background-image: url(../images/table-header-bg-highlight.png); }
table.sortable thead th:hover a { color: #000; }

table.sortable thead th.sorted a {
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 15px;
}

table.sortable thead th.ascending  a { background-image: url("../icons/silk/arrow_down.png"); }
table.sortable thead th.descending a { background-image: url("../icons/silk/arrow_up.png"); }

table tr.select-all {
  background: #f9f9f9;
}

td.message-text tt.message-text {
  font-weight: bold;
}

td.message-text {
  width: 66%;
}

td.message-text li.erroneous li.response {
  color: red;
}

td.message-text li.response {
  color: green;
  margin-top: 0.2em;
  list-style-type: square;
  margin-left: 1.3em;
}

td.message-text span.form-kind {
  color: #666;
}

form#login-form {
  border: 1px solid #4ac0d3;
  padding: 1em;
  width: 50%;
  margin-left: 25%;
}

ul.notifications {
  border: 3px solid yellow;
  padding: 1em;
  margin: 0 0 1.5em 0;
}

ul.notifications li {
  background: url(../icons/silk/information.png) no-repeat left center;
  font-weight: bold;
  padding-left: 20px;
  line-height: 1.5em;
}

.pagination {
  margin: 1em;
  text-align: center;
}

.pagination a {
  color: black;
}

.pagination span.current {
  border: 1px solid #bbb;
  padding: 1px;
}
